@import '../../index.scss';

.productDetail {
    .item-left {
        width: 40%;

        .img-item {
            background: $bg-c2-light;
        }
    }

    .item-right {
        width: 60%;

        .size {
            .title {
                color: $text-c1-success;
            }

            .size-box {
                background: $bg-c3-secondary;
                opacity: 0.5;

                &.active {
                    opacity: 1;
                }
            }

        }

        .price {
            color: $text-c2-danger;
        }

        .input {
            .num-box {
                background: $linear-2;
                color: $text-c1-light;
            }

            .input-num {
                width: 3rem;
                border: none;
            }
        }

        .add-box {
            background: $linear-3;
            color: $text-c1-light;
        }
    }
}

@media only screen and (max-width: 992px) {
    .productDetail {
        align-self: center;
        .item-left {
            width: 100%;
        }

        .item-right {
            margin-top: -80px;
            width: 100%;
        }
    }
}