@import '../../index.scss';

.carousel {
    .item-left {
        width: 62%;
    }

    .item-right {
        width: 38%;
        padding: 10% 0 15% 0;

        .name {
            height: 4rem;
        }

        .description {
            height: 5rem;
        }

        .btn {
            background: $bg-c1-warning;
        }
    }
}
.arrow{
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 2.5rem;
    cursor: pointer;
    z-index: 10;
    &.next{
        right: 10px;
    }
    &.prev{
        left: 10px;
    }
}
.slick-dots{
    bottom: 10px;
}

