@import '../../index.scss';

.card {
    background: $bg-c2-light;
    box-shadow: $sd-dark-25;
    position: relative;
    transition: all 0.5s;

    .heart-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;

        i {
            font-size: 2rem;
            color: $text-c1-danger;
        }
    }

    .card-body {
        min-height: 7rem;

        .card-text {
            color: $text-c1-secondary;
        }
    }

    .buy-btn {
        background: $bg-c1-success;
    }

    .price {
        background: $bg-c2-secondary;
    }

    &:hover {
        box-shadow: $sd-dark-50;
        scale: 105%;
    }
}