// TEXT
// Color
$text-c1-dark: #000000;
$text-c1-light: #FFFFFF;
$text-c1-danger: #FB0B0B;
$text-c1-secondary: #CBC9C9;

// BACKGOUND
// Color
$bg-c1-secondary: #D9D9D9;
$bg-c2-secondary: #DEDDDC;
$bg-c2-light: #F8F8F8;
$bg-c3-light: #F5F5F5;
$bg-c1-success: #9DE167;
$bg-c1-warning: #F8B653;
$bg-c1-dark-25: rgba(0, 0, 0, 0.25);
$bg-c1-dark-50: rgba(0, 0, 0, 0.5);

// Linear
$linear-1: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);

// BORDER
$bd-1px-dark-25: 1px solid rgba(0, 0, 0, 0.25) ;

// SHADOW
$sd-dark-25: 0px 4px 4px rgba(0, 0, 0, 0.25);
$sd-dark-50: 6px 6px 15px rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}